.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
html {
  background-color: black;
}  
h1 {
  text-align: center;
  margin: 0 0 0 0;
}
body {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/margin#syntax  */
    margin: auto auto;
    display: block;
    /* background-image: url('37.jpg'); */
    background-size: cover; /* Ensures the image covers the entire container */
    background-attachment: fixed; /*Make the background not scroll with the rest of the page*/
    background-repeat: no-repeat; /*Do not repeat the image to fill the screen*/
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    color: red;
}
a {
    color: orange;
    display: block;
}

.inline-link {
    display: inline;
  }

